body {
    font-family: Arial, sans-serif;
    background-image: url("images/ar.jfif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
    margin: 0;
    padding: 0;
    display: flex;
   
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 20px;
    border-radius: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
}

h1 {
    color: #333;
}

#sensor-data {
    border-radius: 5px;
    padding: 20px;
    font-size: 18px;
    margin-top: 20px;
    margin-right: 20px;

}

.remote {
    background-color:rgba(255, 255, 255, 0.7);
    border: 1px solid #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.0);
    text-align: center;
}

.button-container {
    margin-top: 20px;
    position: relative;
    width: 120px;
    height: 120px;
    margin: 0 auto;

}

#power-button {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

#power-button.on {
    background-color: green;
}

#led {
    font-size: 24px;
    margin-top: 20px;
    color: #ddd;
}
#remote{
    color: #333;
}
#power-icon{
    color: #333;
}
#led{
    color: #333;
}